<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750105156276-077dm687ji510p9258j5dt4rdufsfgon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750105156276-077dm687ji510p9258j5dt4rdufsfgon</string>
	<key>API_KEY</key>
	<string>AIzaSyAngCP_zv4z3XuZOqi-Ss8S77hz0dNLg64</string>
	<key>GCM_SENDER_ID</key>
	<string>750105156276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Thesis.SmartKey</string>
	<key>PROJECT_ID</key>
	<string>smartkey-f2985</string>
	<key>STORAGE_BUCKET</key>
	<string>smartkey-f2985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750105156276:ios:84bc3ef8454be5294855e1</string>
</dict>
</plist>